html,
body {
  width: 100%;
  height: 100%;
}

/* demo layout */

button {
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.3rem;
  text-shadow: -1px 1px 1px #999;
  background: lightblue;
}

svg {
  border: 2px solid red;
  display: block;
}
.dropdown {
  width: 150px;
  height: 100px;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid grey;
  background: #fff;
  display: none;
  position: absolute;
}

.dropdown.pl-active {
  display: block;
}
